* {
  background-color: rgb(0, 0, 0);
}
#start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px;
}
.logo_img {
  display: flex;
  position:relative;
  height: 50px;
  width: 50px;
  align-items: center;
}
.logo_container {
  display: flex;
  align-items:center;
  justify-content: space-around;
}
.search_container {
  display: flex;
  align-items: center;
  flex: 0 1 685px; 
  margin-left: 40px;
}
.search_container form {
  display: flex;
  position: relative;
  width: 100%;
}
.search_container input {
  height: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid Orgba (255, 255, 255, •1);
  padding: 12px;
  padding-right: 480px;
}
.search {
  min-width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
.mic{
  min-width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  margin-left: 25px;
}
.profile_container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 40%;
}
.live{
  margin-right: 15px;
}
.more{
  margin-right: 15px;
}
.bell{
  margin-right: 15px;
}
span {
  color: white;
}
p {
  color: white;
}
line-1 {
  color: white;
  margin-left: 100px;
}
.mainbody {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}
.sidebar {
  height: 100%;
  width: 210px;
  background-color: rgb(0, 0, 0);
  overflow-y: scroll;
}
.sidebar_cat {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}
.sidebarcat {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}
.sidebarcat span {
  margin-left: 15px;
}
.sidebarcat:hover {
  background-color: rgb(15, 15, 15);
  cursor: pointer;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.content{
  display: flex;
  width: calc(100vw - 240px);
}
.chips_wrap{
  overflow-x: scroll;
  background-color: rgb(7, 7, 7);
  display: flex;
}
.chip {
  margin: 12px 6px;
  background-color: #373737;
  padding: 6px 12px;
  border: 1px solid Orgba(255, 255, 255, 0.1); 
  border-radius: 16px;
  white-space: nowrap;
  cursor: pointer;
  color: #ffffff;
  transition: .5s;
  height: 15px;
  padding-bottom: 20px;
}
